/*
Theme Name:     Kleo Child
Theme URI:
Description:    Child theme for Kleo
Author:         SeventhQueen
Author URI:     http://seventhqueen.com
Template:       kleo
Tags:  one-column, two-columns, right-sidebar, fluid-layout, custom-menu, featured-images, post-formats, sticky-post, translation-ready
License: GNU General Public License
License URI: license.txt
*/


/*
* Please add your custom styles below
*/

@font-face {
    font-family: 'icomoon';
    src: url('assets/fonts/icomoon.eot?8grxla');
    src: url('assets/fonts/icomoon.eot?8grxla#iefix') format('embedded-opentype'),
    url('assets/fonts/icomoon.ttf?8grxla') format('truetype'),
    url('assets/fonts/icomoon.woff?8grxla') format('woff'),
    url('assets/fonts/icomoon.svg?8grxla#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-listras:before {
    content: "\e900";
}

.social-header {
    background: #454545 !important;
}
.home #login .fa,
.home #cadastrar .fa {
    margin-right: 5px;
}

.social-header .top-bar {
    width: 100%;
    text-align: right;
}

.social-header #top-social {
    float: right;
}

.social-header #top-social ul {
    float: right;
}
.kleo-main-header .navbar-nav > li > a {
    font-size: 16px;
}
.social-header #top-social ul li .ts-text {
    color: #FFF !important;
}

.social-header #top-social ul li a {
    border: 0 !important;
}

.social-header #top-social ul li i {
    color: #FFF !important;
    font-size: 16px;
}

#homeCarousel {
    height: calc(100vh - 122px);
}

#homeCarousel {
    background-color: #eeeeee;
}

.home .bread-crumb {
    display: none;
}

#homeCarousel .item {
    padding: 30px 0;
}

#homeCarousel .item .text {
    text-align: right;
}

#homeCarousel .item .livro {
    background-image: url('http://loja.sistemaseta.com.br/wp-content/uploads/2017/09/x.png');
    background-size: cover;
    background-position: center center;
    padding-top: 90%;
}
#menu-principal li a {
    font-size: 16px;
}
#homeCarousel .item .text p {
    font-family: Montserrat;
    font-size: 36px;
    text-align: right;
    line-height: 46px;
    color: #b6a225;
    font-weight: 600;
}

#homeCarousel .item .text h2 {
    font-family: Montserrat;
    font-weight: 700;
    text-align: right;
    font-size: 45px;
    line-height: 45px;
    margin: 15px 0 !important;
}

#homeCarousel .item .text h2 span {
    display: block;
}

#homeCarousel .item .text button {
    background: #ccb408;
    border-radius: 50px;
    padding: 10px 110px;
    text-align: right;
    color: #FFF;
    font-size: 20px;
}


.product .product-name {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;
    margin: 5px !important;
}

.product .product-price {
    margin: 5px;
    font-size: 23px;
    font-family: Montserrat;
    line-height: 33px;
    color: #9e9e9e;
    font-weight: 600;
}

.square {
    padding-top: 65%;
    background-image: url('http://www.sistemaseta.com.br/wp-content/uploads/2017/09/heroes.png');
    background-size: cover;
    margin-top: 20px;
    position: relative;
}

.square.camisa {
    background-image: url('http://loja.sistemaseta.com.br/wp-content/uploads/2017/10/camisa.png');
}

.square p {
    position: absolute;
    left: 0;
    font-size: 28px;
    color: #FFF;
    top: 40%;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: -20px;
    right: 0;
}

.square p span {
    display: block;
}

.home .container {
    width: 1000px;
}

.card-livros {
    padding-top: 90%;
    background-image: url('http://www.sistemaseta.com.br/wp-content/uploads/2017/09/livro.png');
    background-size: cover;
    background-position: center center;
    position: relative;
}

.product-img {
    padding-top: 90%;
    background-image: url('http://www.sistemaseta.com.br/wp-content/uploads/2017/09/product-img.png');
    background-size: cover;
    background-position: center center;
    margin-top: 31px;
    position: relative;
}

.minicard {
    width: 45%;
    padding-top: 45%;
    background: #000;
    display: inline-block;
    position: relative;
    margin: 0 10px;
    background-size: cover;
    background-position: center center;
}

.minicard.cds {
    background-image: url('http://www.sistemaseta.com.br/wp-content/uploads/2017/09/Camada-5.png');
}

.minicard.dvds {
    background-image: url('http://loja.sistemaseta.com.br/wp-content/uploads/2017/10/Camada-6.png');
}

#categorias .row .col-md-6:last-child {
    padding: 0;
    width: 50%;
}

#categorias .row .minicard-lg {
    padding-top: 34.5%;
    background: #000;
    margin: 20px 10px 0;
    position: relative;
    background-image: url('http://www.sistemaseta.com.br/wp-content/uploads/2017/09/camiseta.png');
    background-size: cover;
    background-position: center center;
}

#categorias .card-livros .cat-name {

    position: absolute;
    top: 50%;
    font-size: 30px;

    line-height: 40px;

    margin-top: -20px;

    left: 50%;

    color: #FFF;

    font-family: Montserrat;

    font-weight: 600;

    margin-bottom: 0;

    margin-left: -56px;
}

.minicard-lg .cat-name {

    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 30px;
    color: #FFF;
    font-family: Montserrat;
    font-weight: 600;
    line-height: 40px;
    margin: 0;
    margin-top: 0px;
    margin-left: 0px;
    margin-top: -20px;
    margin-left: -90px;
}

.minicard .cat-name {

    font-size: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    margin-top: 0px;
    margin-left: 0px;
    color: #FFF;
    font-weight: 600;
    font-family: Montserrat;
    line-height: 34px;
    margin-left: -24px;
    margin-top: -17px;
}

#myCarousel .carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: calc(100vh - 122px);
}

#destaque h2 {
    font-family: Montserrat;
    font-weight: 300;
    display: inline;
    margin: 45px 0;
}

#destaque h2::after {
    content: '';
    width: calc(100% - 330px);
    position: absolute;
    height: 1px;
    background: #c1c1c1;
    left: 230px;
    bottom: 10px;
}

#destaque h2::before {
    content: '\e900';
    font-family: icomoon !important;
    position: absolute;
    right: 0;
    font-size: 65px;
}

#categorias .wpb_wrapper>.row {
    display: flex;
    flex-wrap: wrap;
}

#footer {
    background-color: #ffffff;
}

.tax-product_cat .products li .product-loop-inner {
    padding: 0;
}

.tax-product_cat .products li figure {
    margin: 0 !important;
}

.tax-product_cat .product-info {
    padding: 10px;
}

.tax-product_cat .product-info h3 {
    font-size: 17px !important;
    line-height: 27px !important;
    text-transform: uppercase;
    text-align: left;
    font-family: Montserrat;
    font-weight: 600;
}

.tax-product_cat .product-info .price {
    text-align: left !important;
    padding: 0 !important;
}

.tax-product_cat .main-title {
    background-image: url('http://loja.sistemaseta.com.br/wp-content/uploads/2017/09/Layer-1.png');
    padding-top: 20%;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.tax-product_cat h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 34px !important;
    color: #FFF !important;
    line-height: 44px !important;
    font-family: Montserrat;
    text-transform: uppercase;
    margin-top: -22px !important;
    margin-left: -92px !important;
    font-weight: 600;
}

.tax-product_cat .product-info .price span {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #898989;
}

.preco-sidebar h2,
.categorias h2 {
    font-family: Montserrat;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 10px 0;
    color: #454545;
}

.categorias ul li:first-child,
.woocommerce-MyAccount-navigation ul li:first-child,
.preco-sidebar ul li:first-child {
    border-top: 1px solid #d7d7d7;
}

.categorias ul li,
.woocommerce-MyAccount-navigation ul li,
.preco-sidebar ul li {
    border-left: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
    border-right: 1px solid #d7d7d7;
    padding: 5px;
}

.categorias ul li a,
.woocommerce-MyAccount-navigation ul li a,
.preco-sidebar ul li a {
    font-family: Montserrat;
    font-size: 16px;
    line-height: 26px;
    color: #454545 !important;
}


.bread-crumb {
    background: #f5f5f5;
}

.bread-crumb .breadcrumb {
    margin-bottom: 0;
    padding: 15px;
}

.single-product .price {
    font-family: Montserrat;
    font-weight: 700;
    color: #acacac !important;
    margin: 20px 0 !important;
}

.single-product h1.product_title.entry-title {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 30px !important;
    line-height: 40px !important;
}

.single-product .variations tbody tr td label {
    font-size: 20px;
    font-family: Montserrat;
    line-height: 30px;
}

.single-product .variations tbody tr td.value select {
    font-family: Montserrat;
    font-size: 20px;
    height: 40px;
}

.single-product .quantity .input-text.qty.text {
    margin-left: 130px;
}

.single-product .quantity {
    display: block;
}

.single-product .quantity:before {
    content: 'Quantidade';
    position: absolute;
    left: 0;
    top: 0;
    font-family: Montserrat;
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
}

.single-product .single_add_to_cart_button,
.single-product .woocommerce-variation-add-to-cart button {
    display: block;
    width: 100% !important;
    background-color: #454545 !important;
    border: 0 !important;
    font-size: 18px !important;
    line-height: 28px !important;
    font-weight: 600 !important;
    color: #FFF !important;
    font-family: Montserrat;
    text-transform: uppercase;
}

#description_tab .panel-body p {
    font-family: Montserrat;
    font-size: 16px;
    line-height: 26px;
    text-align: justify;
    color: #898989;
}

.woocommerce-cart .cart_item .product-name a {
    font-size: 20px;
    font-family: Montserrat;
    font-weight: 600;
    color: #454545;
    text-decoration: none;
    line-height: 30px;
}

.woocommerce-cart .woocommerce-Price-amount,
.woocommerce-cart .cart-subtotal,
.woocommerce-cart .order-total,
.woocommerce-cart .coupon ,
.shop_table .shipping > th:first-child{
    font-size: 18px;
    font-family: Montserrat;
    font-weight: 600;
    color: #454545;
    text-decoration: none;
    line-height: 28px;
}
.shop_table .shipping > th:first-child span{
	display: block;
}
.woocommerce-cart .variation-Tamanhos {
    font-size: 14px;
    font-family: Montserrat;
    font-weight: 600;
    color: #454545;
    text-decoration: none;
    line-height: 24px;
}

.woocommerce-cart .quantity input,
.woocommerce-cart #coupon_code {
    border: 1px solid #000;
}

.woocommerce-cart .kleo-cart-totals .totals-wrap {
    border: 0;
    padding: 0;
}

.woocommerce-cart .cart_totals h2 {
    font-family: Montserrat;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
}

.woocommerce-cart .wc-proceed-to-checkout a,
.woocommerce-cart .coupon input[name=apply_coupon] {
    background-color: #454545 !important;
    font-size: 20px;
    line-height: 30px;
    width: 100%;
    border: 0;
    color: #FFF !important;
    text-align: center;
}

.woocommerce-cart .totals-wrap>input {
    display: none !important;
}

.woocommerce-cart .main-title,
.woocommerce-checkout .main-title {
    position: relative;
    padding-top: 20%;
    background-image: url('http://loja.sistemaseta.com.br/wp-content/uploads/2017/10/Layer-1.png');
    background-size: cover;
    background-position: center center;
}

.woocommerce-cart .main-title .page-title,
.woocommerce-checkout .main-title .page-title {

    position: absolute;
    top: 50%;
    font-size: 40px;
    line-height: 50px;
    margin-top: -25px;
    color: #FFF !important;
    font-family: Montserrat;
    font-weight: 600;
    text-transform: uppercase;
    left: 50%;
    margin-left: -167.5px;
}

#coupon_code {
    width: 100%;
}

.woocommerce-billing-fields__field-wrapper span.select2-selection {
    background: #ededed;
    border: 1px solid #000;
    font-family: Montserrat;
    font-weight: 300;
    color: #7d7d7d !important;
    height: 30px;
    font-size: 17px;
}

#order_comments_field textarea,
.woocommerce-billing-fields__field-wrapper input {
    background: #f5f5f5;
    padding: 10px;
    border: 1px solid #000 !important;
    font-size: 16px !important;
    line-height: 26px !important;
    font-family: Montserrat;
    font-weight: 300;
    color: #7d7d7d !important;
}

.woocommerce-billing-fields__field-wrapper label {
    font-family: Montserrat;
    font-weight: 300 !important;
    font-size: 16px !important;
    color: #7d7d7d;
}

.woocommerce-checkout #billing_last_name_field,
.woocommerce-checkout #billing_email_field {
    width: 50%;
    padding-left: 15px;
}

.woocommerce-checkout #billing_first_name_field,
.woocommerce-checkout #billing_phone_field {
    width: 50%;
    padding-right: 15px;
}

.woocommerce-checkout .kleo-checkout-billing label {
    display: none !important;
}

.shipping>th:first-child,
.shipping>th:last-child {
    padding: 20px !important;
}

#order_comments_field label {
    border-top: 1px solid #c2c2c2;
}

#ship-to-different-address {
    margin: 5px 0;
}

#ship-to-different-address span,
.woocommerce-billing-fields h3,
#order_review_heading,
#order_comments_field label {
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000;
    font-weight: 600;
    font-family: Montserrat;
}

.woocommerce .order-review-wrap #place_order {
    display: none;
}

.woocommerce .order-review-wrap {
    border: 0;
    padding: 20px;
    background-color: #ededed;
}

.shop_table>thead th,
.shop_table>thead th {
    font-family: Montserrat;
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 26px !important;
}

.shop_table>tbody>tr>.product-name {
    width: 300px;
    font-family: Montserrat;
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
}

.woocommerce-checkout #place_order {
    width: 100%;
    background: #454545;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    border: 0 !important;
}

.woocommerce-checkout #ship-to-different-address-checkbox {
    right: -30px;
    position: absolute;
    top: 5px;
}

.woocommerce-checkout .woocommerce-form__label-for-checkbox {
    position: relative;
}

.woocommerce>form>.row>.col-sm-12 {
    padding: 20px 0;
    border-top: 1px solid #c2c2c2;
}

.woocommerce-cart h2 {
    display: none;
}

.woocommerce-cart .shipping,
.woocommerce-cart .coupon {
    padding: 20px;
    background-color: #f1f1f3
}

.woocommerce-cart .coupon label,
.woocommerce-cart .coupon input {
    display: inline;
    width: initial !important;
}

#coupon_code {
    width: calc(100% - 270px) !important;
}

.woocommerce-cart form .row .col-sm-12:last-child {
    padding-top: 0;
}

.woocommerce-cart form .row .col-sm-12:last-child .shop_table {
    margin: 0;
}

.woocommerce-cart .wc-proceed-to-checkout button,
.woocommerce-cart .wc-proceed-to-checkout a {
    width: 49.5%;
    background-color: #454545 !important;
    font-size: 20px;
    line-height: 30px;
    border: 0;
    color: #FFF !important;
    text-align: center;
    padding: 10px;
}

.cart-subtotal>th:first-child,
.order-total>th:first-child ,
.cart-discount>th:first-child {
    font-family: Montserrat;
    font-weight: 600 !important;
    font-size: 18px;
    color: rgb(69, 69, 69);
    line-height: 28px !important;
}
#footer{
    padding: 0 !important;
    padding-top: 30px !important;
}

.shop_table.shop_table_responsive.cart .product-subtotal {
    text-align: right;
    padding: 0 !important;
}

.woocommerce-cart td[data-title="Subtotal"],
.woocommerce-cart .cart-subtotal>th:first-child {
    border: 0 !important;
}

.woocommerce-cart .total-carrinho {
    margin: 0 !important;
}

#footer .row .col-sm-2  ul a,
#footer .row .col-sm-2  ul i{
    font-family: Montserrat;
    font-weight: 400;
    line-height: 26px;
    color: #454545;
    font-size: 16px;
}

#footer {
    background-color: #f1f1f1;
    border: 0;
    padding: 30px 0;
}

#footer li {
    list-style: initial;
}
.shipping td:last-child {
    padding: 20px !important;
}
.row .col-sm-3 #footer-sidebar-1 .textwidget>p {
    text-align: center;
}

.row .col-sm-3 #footer-sidebar-1 .textwidget>p>a>i {
    margin: 30px 10px;
}
.row .col-sm-3 #footer-sidebar-1 .textwidget>p>a {
    font-size: 36px;
    margin: 30px 5px;
    color: #454545;
}


#footer .template-page {
    padding-top: 0;
    padding-bottom: 0;
}

#socket {
    background-color: #fff;
}

#socket p {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}

.minicart-buttons,
.minicart-total-checkout,
.kleo-toggle-submenu:before,
.kleo-toggle-submenu {
    background: #ededed !important;
}

.kleo-toggle-submenu {
    width: 350px;
}

.kleo-minicart .minicart-header {
    font-size: 14px;
    padding: 15px 10px;
    text-align: center;
    font-family: Montserrat;
    line-height: 24px !important;
    font-weight: 600;
}

.kleo-minicart .quick-view.hover-tip {

    border: 1px solid #000;
    padding: 5px;
}
.minicart-buttons{
	margin-bottom: 30px;
}
.minicart-buttons>.btn-default {
    width: 100%;
	max-width: initial !important;
	margin: 10px 0;
	border: 0;
	border-radius: 0;
}
.minicart-buttons .checkout-button {
   width: 100%;
	background: #454545;
	border-radius: 0;
	border: 0;
	margin-bottom: 20px;
	max-width: initial !important;
	margin: 0;
}

#calc_shipping_country_field,
#calc_shipping_state_field{
	display: inline-block;
	width: 49.5%;
}
#calc_shipping_postcode_field{
	display: inline-block;
width: 90%;
}
.shipping-calculator-form select{
	height: 45px;
}
.shipping-calculator-form input,
.shipping-calculator-form select{
	background: #FFF;
}
.shipping-calculator-form .enviar{
	display: inline-block;
}
.coupon label span{
	display: block;
}

.minicart-buttons .checkout-button:hover {
    background-color: #454545;
}

#post-46 .article-content>.container-wrap.main-color:first-child {
    padding: 0 !important;
}

.page-id-46 .bread-crumb,
.home #main>section:first-child {
    display: none;
}


.page-id-73 p {
    font-family: Montserrat;
    font-size: 20px;
    line-height: 40px;
    color: #454545;
}

#wpcf7-f76-p73-o1 input,
#wpcf7-f76-p73-o1 textarea {
    background: #ededed;
    font-family: Montserrat;
    font-weight: 300;
    width: 100%;
    color: #898989;
}

#wpcf7-f76-p73-o1 .wpcf7-form-control.wpcf7-submit {
    background: #454545 !important;
    color: #FFF !important;
    font-size: 20px !important;
    margin: 30px 0 !important;
}

.page-id-83 h1,
.page-id-87 h1,
.page-id-73 h1,
.page-id-90 h1 ,
.page-id-30 h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px !important;
    font-family: Montserrat;
    line-height: 60px !important;
    color: #FFF !important;
    text-transform: uppercase;
    margin-left: -196px !important;
    margin-top: -30px !important;
}

.page-id-83 h1 {
    margin-left: -306px !important;
}

.page-id-83 .main-title,
.page-id-73 .main-title,
.page-id-87 .main-title,
.page-id-90 .main-title ,
.page-id-30 .main-title {
    padding-top: 18%;
    background-size: cover;
    background-position: center center;
    position: relative;
    text-transform: uppercase;
}

.page-id-73 .main-title {
    background-image: url('http://loja.sistemaseta.com.br/wp-content/uploads/2017/10/Camada-2.png');
}

.page-id-83 .main-title {
    background-image: url('http://loja.sistemaseta.com.br/wp-content/uploads/2017/10/Camada-1.png');
}
.page-id-30 .main-title {
    background-image: url('http://loja.sistemaseta.com.br/wp-content/uploads/2017/10/mac.png');
}

.page-id-87 .main-title,
.page-id-90 .main-title {
    background-image: url('http://loja.sistemaseta.com.br/wp-content/uploads/2017/10/Camada-1-1.png');
}


.page-id-83 h2 {
    text-transform: uppercase;
    margin: 5px 0;
}

.page-id-87 input[type="submit"] {
    background: #454545;
    padding: 10px;
    color: #FFF;
    text-transform: uppercase;
    margin-top: 0 !important;
}

.page-id-87 input {
    width: 100%;
    background: #ededed;
    border: 1px solid #6f6f6f !important;
    margin: 20px 0 !important;
}

#theme-my-login input {
    background: #ededed;
    border: 1px solid #6f6f6f !important;
    margin: 20px 0 !important;
}

.page-id-87 a span,
.cadastro a span {
    display: block;
}

.page-id-87 .article-content a,
.cadastro a {
    text-align: center;
    display: block;
    font-size: 20px;
    margin: 30px 0;
    color: #454545;
    position: relative;
}

.cadastro a:hover {
    color: #454545;
}

.page-id-87 .article-content a:after,
.cadastro a:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: calc(50% - 100px);
    height: 2px;
    background: #000;
}

.page-id-87 .article-content a:before,
.cadastro a:before {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: calc(50% - 100px);
    height: 2px;
    background: #000;
}

#theme-my-login,
#theme-my-login .tml-submit-wrap {
    width: 100% !important;
    max-width: initial;
    display: initial;
}

#theme-my-login #wp-submit {
    width: 100%;
    font-size: 18px;
    line-height: 28px;
    padding: 10px 5px;
    background: #454545;
    border: 0;
    color: #FFF;
}

#loginform .tml-action-links {
    width: 100%;
}

#loginform .tml-action-links>li {
    width: 100%;
    text-align: right;
}

#loginform .tml-action-links>li a {
    text-decoration: underline;
    font-family: Montserrat;
    color: #7d7d7d;
}

.tml-rememberme-submit-wrap {
    margin: 10px !important;
}

#theme-my-login .cadastro {
    text-align: center;
}

#menu-principal .dropdown-menu {
    width: 100%;
}

.tax-product_cat #main .products {
    display: flex;
    flex-wrap: wrap;
}
.tax-product_cat #main .products > li > .product-loop-inner{
	height: 100%;
}
.bread-crumb .kleo-custom-breadcrumb, .bread-crumb .kleo-custom-breadcrumb a {
    color: #939393 !important;
}
.woocommerce-products-header{
	margin-bottom: 30px;
}
.woocommerce-products-header p{
	color: #454545;
}
.woocommerce-products-header .filter{
	text-align: right;
}
.woocommerce-products-header p,
.woocommerce-products-header select,
.woocommerce-products-header .select-order,
.woocommerce-products-header .select-page
{
	display: inline;
}
.woocommerce-products-header select{
	margin: 0 10px;
}
.woocommerce-products-header select option{
	font-family: Montserrat;
	font-size: 16px;
}

.woocommerce-pagination .page-numbers li{
	margin: 0 10px !important;
}
.woocommerce-pagination .page-numbers li a,
.woocommerce-pagination .page-numbers li span{
	border-radius: 0 !important;
	height: 40px !important;
	width: 40px !important;
	line-height: 40px !important;
	background: #ededed !important;
	color: #898989 !important;
}

.woocommerce-pagination .page-numbers li a.next,
.woocommerce-pagination .page-numbers li a.prev{
	background: #FFF !important;
}
#coupon_code{
    
}
.coupon > label{
    margin: 0 20px;
}
.coupon > label,
.coupon input{
display: inline-block !important;

}
.page-id-28 .wc-forward::after {
    content: '';
}
.page-id-30 .card p{
    margin: 0;
font-size: 20px;
line-height: 30px;
color: #454545;
font-family: Montserrat;
}
.page-id-30 .card h2{
    text-transform: uppercase;
    font-size: 24px;
    line-height: 34px;
            margin: 10px 0;
}
.page-id-30 .card button{
    width: 80%;
    border: 0;
    margin-top: 20px;
    color: #FFF;
    padding:10px 15px;
    font-size: 20px
    line-height: 30px;
    text-transform: uppercase;
    background-color: #454545;
}
.single-product .main-title,
.single .row > .summary > .images{
    display: none;
}
 {
    display: none;
}
#relacionados .hr-title{
    display: none;
}
.single .nav.nav-tabs li.active a {
        border: 1px solid #000 !important;
    }
.single .nav.nav-tabs li a {
    font-family: Montserrat;
    color: #;
    color: #454545;

    margin: 0 10px;
}
.destaques{
    display: flex;
    flex-wrap: wrap;
}
@media screen and (min-width: 1800px) {
    #homeCarousel .item {
        padding: 100px 0;

    }
}

@media screen and (max-width: 767px) {

.destaques .col-lg-4{
    width: 100%;
}
    .shop_table.shop_table_responsive.cart .product-subtotal {

    text-align: center;
    padding: initial !important;

}
.single-product h1.product_title.entry-title {
font-size: 20px !important;
line-height: 30px !important;
}
.single .row > .summary > .images{
    display: initial;
}
.images:last-child {
    display: none;
}
.page-id-30 .main-title .page-title {
    font-size: 28px !important;
margin-left: -104px !important;
}
.woocommerce-checkout .main-title .page-title {

    font-size: 26px;
margin-left: -140px;
}
.product-quantity,
.product-data{
    display: none;
}

.woocommerce-checkout .main-title ,
.page-id-30 .main-title {
    padding-top: 60%;
}
.coupon > label span{
    display: initial;
}
.page-id-28 .template-page {
    padding-top: 0;
}
.checkout-steps{
    display: none;
}

.shop_table {
    margin-top: 0;
}
.cart_item .product-name{
    width: 100% !important;
}
.coupon > label,
.coupon input{
display: block !important;

text-align: center;

}
.woocommerce .cart_totals table {
    margin-bottom: initial;
}
.woocommerce-cart .wc-proceed-to-checkout button, .woocommerce-cart .wc-proceed-to-checkout a {
    width: 100%;
    margin-bottom: 20px;
}
#coupon_code,
.coupon input:last-child {
    width: 100% !important;
}
.woocommerce-cart .main-title{
    padding-top: 80%;

}
.woocommerce-cart .main-title .page-title{
    font-size: 24px;
    line-height: 34px;
    margin-left: -95px;

}
.variation{
    text-align: center;
}
	.tax-product_cat .main-title {padding-top: 60%;
	}
	.products{
	margin: 0 !important;
}
.products li{
	padding: 0 !important;
	}
	.select-order select{
	margin:0;
}
#homeCarousel {
	height: initial;
}
	.woocommerce-page ul.products li.product{
		width: 100% !important;
	}
	.woocommerce-products-header .select-order5,
.woocommerce-products-header .select-page{
	display: block;
	float: left;
	margin:20px 0;
}
    #homeCarousel .item .text p {
        font-size: 26px;
        text-align: center;
        line-height: 36px;
    }
    .container {
        width: initial !important;
    }
    #homeCarousel .item .text h2 {
        text-align: center;
        font-size: 25px;
        line-height: 35px;
    }

    #homeCarousel .item .text h2 span {
        display: initial;
    }
    #homeCarousel .item .livro {
        padding-top: 80%;
    }
    #categorias .row .col-md-6 {
        padding: initial !important;
        width: 100% !important;
    }
    .minicard {
        width: 100%;
        margin: 0;
    }
    #categorias .row .minicard-lg {
        margin: 0;
    }
    .square {
        padding-top: 100%;
    }
    .square p {
        font-size: 22px;
        line-height: 34px;
        margin-top: -17px;
    }
    .page-id-83 h1,
    .page-id-73 h1,
    .page-id-87 h1 {
        left: 0;
        right: 0;
        text-align: center;
        font-size: 30px !important;
        line-height: 40px !important;
        margin-left: 0 !important;
    }
    .page-id-73 p,
    .page-id-87 p,
    .page-id-83 p {
        text-align: justify;
    }

    .page-id-73 h2 {
        font-size: 25px;
        text-align: center !important;
    }
    .page-id-83 .main-title,
    .page-id-87 .main-title,
    .page-id-73 .main-title {
        padding-top: 65%;
    }
}